header {
  background-color: var(--color-primary);
  color: #333;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-wrapper {
  display: flex;
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2rem;
  flex-direction: row;
  align-items: center;
  height: 6rem;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  height: 100%;
}

.nav-ul {
  display: flex;
  height: 100%;
}
