.profile-upload {
  position: relative;
  width: max-content;
  border-radius: 50%;
  border: 1px solid;
  margin: auto;
  margin-bottom: 1.5rem;
}
.profile-upload .img-container {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-upload .file-input {
  cursor: pointer;
  opacity: 0;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -1px;
  border-radius: 50px;
  left: 0;
}
