.signUp-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  padding: 5rem;
  margin: auto;
  box-shadow: -0.4rem 0.8rem 1.6rem var(--shadow);
  border-radius: 1rem;
  text-align: center;
  width: 100%;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
}
.field-wrapper > div:first-child {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .field-wrapper {
    display: block;
  }
  .field-wrapper > div:first-child {
    margin-right: inherit;
  }
}
